@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
  margin: 0 auto;
  padding: 0;

}

a:hover {
  color: cadetblue;
}

header {
  width: 100%;
  height: 120px;
  background-color: rgb(96, 165, 96);
}

#header h1 {
  font-family: "Balsamiq Sans", cursive;
  font-size: 45px;
  font-weight: 60px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#header a {
  color: purple;
  text-decoration: none;
}

.logo img {
  margin-left: 650px;
}

/*Navbar beginning-------------------------------------*/
#navbar {
  width: 100%;
  height: 45px;
  min-height: 5px;
  background-color: #333333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-shadow: 0px 0px 2px grey;
}

#navbar ul {
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  width: 950px;

}

#navbar > ul > li {
    line-height: 40px;
    float: left;
    border-right: 1px solid grey;
    transition: 300ms;
    

}


#navbar > ul > li a {
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    text-decoration: none;


}
#navbar ul li a:first-child {
  border-left: 1px solid grey;
}

#navbar > ul > li:hover {
  background: green;
  box-shadow: 0px 0px 4px green inset;
}

#navbar > ul > li:hover ul {
  display: block;
}

#navbar > ul > li:hover ul > li {
  background-color: #f2f1f0;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
  transition: all 300ms;
}

#navbar > ul > li:hover ul > li > a {
  color: #666666;
}

#navbar > ul > li:hover ul > li:hover {
  box-shadow: 0px 0px 2px #ccc inset;
  background: aquamarine;
}

/*Navbar ending------------------------------------------*/

/*------Mission beginning-----------------------------*/
.mission-section {
   width: 100%;
 height: 400px;
   background-image: url("https://th.bing.com/th/id/R.b186a644a2bf2fa3dc143bfe5d962015?rik=KaPRO%2bQeiFtabA&riu=http%3a%2f%2fwww.celebratuboda.com%2fpublic%2fimg%2fempresa%2f900-viajes-diseno-floridablanca-7447.jpg&ehk=eAydljK%2b3RuxY5cCGt34u8kTiAHRwiLs9JezA8rfWso%3d&risl=&pid=ImgRaw&r=0");
   background-size: 1375px;
  min-width: 100px;
   

}
.mission {
    width: 100%;
    height: 17%;
    background-color: greenyellow;
    float: left;
    padding: 6px;
    margin-top: 175px;
    margin-right: 20em;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
  
}
.mission h2 {
    font-size: 40px;
    text-align: center;
    

}

.mission p {
    font-size: 20px;
    text-align: center;
}

/*-------Mission ending ---------------------------------*/

/*-----Offers Portafolio beginning section ---------------------------------------*/
.content h2 {
    font-size: 35px;
    text-align: center;
}

.content p {
    font-size: 20px;
    text-align: center;
}
.column {
  display: flex;
  flex-direction: row-reverse;

}
.container-offers {
  padding: 15px;
}
.count-img img{
  width:  200px;
  height: 90px;
  margin: 15px;
}
.count-img h3 {
  text-align: center;
  margin-top: 10px;
}

.count-img p {
  text-align: center;
 margin-bottom: 15px;
}
.count-img h4 {
  padding: 5px;
}
.count-img {
  width: 650px;
  height: 530px;
  border: 2px 2px 3px 2px black;
  box-shadow: 1px 1px 1px 1px black;
  margin: 18px;
  background-color: gainsboro;
   
 
}
.count-img strong {
  color: blue;
}

.packet-content li strong{
  color: black;
}

.packet-content li {
  padding-left: 25px;
  padding-top: 2px;
  text-decoration: none;
  list-style: none;
  text-align: initial;
}
.packet-content li span {
  color: blue;
  text-align: center;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 50px;
  font-family: cursive;
  padding: 2px;
  
  
}

.count-img span {

  margin-left: 30px;
  margin-top: 20px;
}

.count-img:hover {
  cursor: pointer;
  transition: all 2;;
  transform: scale(1.1)
}


/*Offers Portafolio ending section-----------------------------------------------*/

/*Team Section beginning ------------------------------------------------------------*/
#team-content {
  width: 100%;

}


.team-hea {
  width: 100%;
  height: 70%;
  background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1310/green_background_spots-design_HD_wallpaper_1366x768.jpg");


}

.team-hea h2 {
  text-align: center;
  margin-top: 40px;
  
  font-size: 30px;
  color: white;
}


.boxs-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: initial;
  margin: 50px;
}

.boxs-contents img {
 width: 230px;
  height: 290px;
}

.img-1 ,
.img-2 ,
.img-3  {
  padding: 20px;
  flex-wrap: wrap;
  
}

.img-1,
.img-3 {
  margin-left: 90px;

}
.img-1 h3,
.img-2 h3,
.img-3 h3  {
font-size: 25px;
color: white;

}
.img-1 p,
.img-2 p,
.img-3 p  {
 font-size: 20px;
color: white;


}

/*Team Section ending ------------------------------------------------------------*/

/*Contanct beginning section -----------------------------------------------------*/
#contact-travel {
  height: 200px;
  
  }
  
  .contact {
      font-family: Helvetica;
      color: black;
      text-align: center;
  
  }
  
  .contact h3 {
      font-family: Helvetica;
      font-size: 35px;
      font-weight: 15px;
      color: purple;
  }
  
  .contact h5 {
     font-size: 18px;
     padding: 20px;
  letter-spacing: 1px;
  }
  
  
  
  .contact p {
      font-size: 18px;
      padding: 20px;
   }
   


/*Contanct beginning section -----------------------------------------------------*/


/*footer beginning-----------------------------------------*/

footer {
  height: 20px;

}

footer h5 {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 35px;
   color: black;
   padding: 20px;
   text-align: center;

}


/*footer ending---------------------------------------------------*/

/*Responsive*/

  
  

  
/*--------Resposnvie-----*/


@media (max-width: 888px) {
  /*se ejecutaran estos estilos*/

header {
  width:  100%;

}


.logo img {
  margin-left: 370px;
}


#navbar {
  width:  100%;
  min-height: 5px;
  box-shadow: 0px 0px 2px gray;
}

#navbar ul {
  width: 100%;

}


#navbar > ul > li {
  line-height: 40px;
  float: center;


}


#navbar > ul > li a {

  padding-left: 40px;
  padding-right: 42px;
  
}

mission-section {
  width: 100%;

  background-size: 900px;
 min-width: 2px;
  

}
.mission {
   width: 100%;
   height: 25%;

 
}
.mission h2 {
   font-size: 40px;
   text-align: center;
   
}

.mission p {
   font-size: 20px;
   text-align: center;
}

.content h2 {
  font-size: 30px;
  text-align: center;
}

.content p {
  font-size: 19px;
  text-align: center;
}
.column {
display: flex;
flex-direction: column;
flex-wrap: wrap;

}
.container-offers {
padding: 10px;
}


.count-img img{
  margin-left: 115px;
}



.count-img h3 {
text-align: center;
margin-top: 10px;
}

.count-img p {
text-align: center;
margin-bottom: 14px;

}


.count-img {
  width: 50%;
  height: 445px;
  margin-left: 175px;

   
 
}


.packet-content li {
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px;

}


.packet-content li span {
  color: blue;
  text-align: center;
  margin-left: 35px;
  
  
  
}

 
.count-img span {

  margin-left: 120px;
  margin-top: 50px;
  padding: 10px;
}


#team-content {
  width: 100%;

}


.team-hea {
    width: 70%;
  height: 70%;
  
 


}

.team-hea h2 {
  text-align: center;
  margin-top: 70px;
  margin-right: 15px;

}


.boxs-contents img {
 width: 220px;
  height: 270px;
  margin-left: 25px;
  margin-bottom: 50px;
}



.img-1 h3,
.img-2 h3,
.img-3 h3  {
font-size: 22px;
margin-left: 32px;


}
.img-1 p,
.img-2 p,
.img-3 p  {
 font-size: 18px;
 margin-left: 35px;
margin-top: 4px;

}



}


  
  
  
  
  @media (max-width: 632px) {
    
   
  
  .logo img {
    margin-left: 225px;
  }



  #navbar {
    width:  100%;
    height: 3px;
    min-height: 60px;
    box-shadow: 0px 0px 1px gray;
  
  }
  
  #navbar ul {
   
    width: 100%;
  
  }
#navbar > ul > li a {
  
  padding-left: 10px;
  padding-right: 12px;
  
}



.mission-section {
  width: 100%;
  background-size: 400px;
 min-width: 20px;

  

}
.mission {
   width: 100%;
   height: 35%;

 
}
.mission h2 {
   font-size: 35px;
   text-align: center;
   
}

.mission p {
   font-size: 19px;
   text-align: center;
}

.count-img {
  width: 50%;
  height: 550px;
  margin-left: 145px;

   
 
}


.count-img img{
  height: 90px;
  margin-left: 35px;

}


.count-img h4 {
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;

}

.packet-content li {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  
}


.packet-content li span {
  text-align: center;
  margin-right: 60px;
  padding-top: 10px;
  padding: 5px;
  font-size: 18px;
  
  
  
}

 
.count-img span {
  margin-left: 68px;
  margin-top: 60px;

}



.team-hea {
    width: 100%;
    height: 1250px;

}

.team-hea h2 {
  text-align: center;
  margin-top: 70px;
  margin-right: 15px;

}


.boxs-contents img { 
  width: 230px;
  height: 240px;
   margin-right: 40px;
   margin-left: 25px;
 

 }
 
 
 
 .img-1 h3,
 .img-2 h3,
 .img-3 h3  {
 font-size: 18px;
 margin-right: 40px;
 text-align: center;

 
 }
 .img-1 p,
 .img-2 p,
 .img-3 p  {
  margin-right: 30px;
 text-align: center;
 
 }
 
 


  }
  

 
  
  @media (max-width: 580px) and (min-width: 600px) {
  body {
    position: fixed;
  }

  
  .logo img {
    margin-left: 230px;
  }

  
  #navbar {
    width:  60%;
    height: 80px;
    min-height: 20px;
   
  }


  #navbar ul {
   width: 70%;
   
  }

  #navbar > ul > li a {

    padding-left: 5px;
    padding-right: 5px;
    
  }
  
  
  mission-section {
    width:  100%;
    background-image: url("https://th.bing.com/th/id/R.b186a644a2bf2fa3dc143bfe5d962015?rik=KaPRO%2bQeiFtabA&riu=http%3a%2f%2fwww.celebratuboda.com%2fpublic%2fimg%2fempresa%2f900-viajes-diseno-floridablanca-7447.jpg&ehk=eAydljK%2b3RuxY5cCGt34u8kTiAHRwiLs9JezA8rfWso%3d&risl=&pid=ImgRaw&r=0");
    background-size: 200px;
   min-width: 20px;
    
  
  }

.mission {
  width: 100%;
  height: 30%;


}
.mission h2 {
  font-size: 30px;
  text-align: center;
  
}

.mission p {
  font-size: 19px;
  text-align: center;
}

.count-img {
  width: 80%;
  height: 830px;
 margin-left: 100px; 
 
}

.container-offers {
  padding: 80px;
}

.count-img img{
  width:  250px;
  height: 100px;
  margin-left: 70px;
}

.count-img h4 span{
  margin-left: 10px;
  text-align: center;

}

.packet-content li {
  text-align: justify;
  margin-left: 40px;
  margin-right: 50px;
  
}



.count-img li span {
  margin-left: 95px;
  font-size: 15px;



}


.boxs-contents img { 
  width: 175px;
  height: 260px;
   margin-right: 250px;
   margin-left: 3px;   
 }
 

 
.packet-content a span {
  text-align: center;
  margin-right: 5px;
  padding-top: 10px;
  padding: 5px;
  
  
  
}

 
 .img-1 h3,
 .img-2 h3,
 .img-3 h3  {
 font-size:  19px;
 margin-right: 300px;

 
 
 }
 .img-1 p,
 .img-2 p,
 .img-3 p  {
  margin-right: 300px;
 margin-bottom: 160px;
 text-align: center;
 
 }

 #contact-travel {
   width: 200px;

  
  }
  
  .contact h3 {
      font-size: 30px;
    
  }
  
  .contact h5 {
     font-size: 18px;
  
  }
  
 
 
  }

